<div class="container fluid">
  <p>This quote was submited {{quote.date | dateCount}} days ago</p>
  <p>Author:{{quote.author}}</p>
  <p>Votes:{{quote.vote}}</p>
  <div class="button">
    <button type="button" class="btn btn-dark" (click)="likes()">
      <span>Upvotes{{likes()}}</span>
    </button>
    <button type="button" class="btn btn-dark" (click)="dislikes()">
      <span>Downvotes{{dislikes()}}</span>
    </button>
  </div>


  <button (click)="callParentDelete(true)" class="btn btn-dark">Delete</button>


</div>