<app-layout>
  <div class="jumbotron jumbotron-fluid" id="banner">
    <div class="container-fluid">
      <h1>QUOTES & WISDOM</h1>
      <p id="paragraph1">"I always have a quotation for everything - it saves original thinking."</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
      <app-quote-form (newQuoteEvent)="addQuote($event)"></app-quote-form>
    </div>
    <br>
    <hr>
    <div class="container-fluid" style="width: 18rem;" *ngFor="let quote of quotes; let i=index" id="quoteDetail">
      <ul class="list-group" style="list-style:none">
        <li class="list group item" appQuotehighlight>{{quote.name}}</li>
        <button class="btn btn-dark" (click)="showQuoteDetails(i)">Details</button>
        <!-- bind property quote to the expected input 'quote' in child component -->
        <app-quote-details *ngIf="quote.quoteDescription" [quote]="quote" (deleteEvent)="delete($event,i)"></app-quote-details>
      </ul>
    </div>
  </div>

</app-layout>