h1 {
  text-align: center;
  font-weight: bold;
}

#paragraph1 {
  text-align: center;
  font-style: italic;
}

#banner {
  background-image: url("https://images.pexels.com/photos/33283/stack-of-books-vintage-books-book-books.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}